/* .ui.menu.fixed.side-nav {
  background-color: #f5f5f5;
  margin-top: 64px;
  overflow-y: auto;
  padding-bottom: 64px;


}



.side-nav.ui.vertical.menu {
  width: 17rem;
} */

.ui.menu.fixed.side-nav {
  background-color: #f5f5f5;
  padding: 1em;
  padding-top: 64px;
}

.ui.menu.fixed.side-nav .sidebar-item {
  cursor: pointer;
}

.ui.menu.fixed.side-nav .sidebar-item:hover {
  background: #ebebeb;
}
