.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Input .Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.Input .InputElement {
  font: inherit;
  outline: none;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.Input .InputElement:focus {
  outline: none;
  background-color: #ccc;
}

.InputElement.Invalid {
  border: 1px solid red;
  background-color: salmon;
}
.InputElement.Invalid::placeholder {
  color: white;
}
