.projectName h3,
.projectName h6 {
  margin-bottom: 0.35em;
  text-align: left;
}

.projectName h3 {
  font-weight: 400;
  display: block;
}

.projectThumb {
  height: 74px;
  width: 74px;
}

.projectName h6 {
  display: block;
  font-weight: lighter;
}

.optionalDefault {
  margin-bottom: 0;
  margin-left: 1em;
  font-size: 12px;
  font-weight: lighter;
  background: #f1f1f1;
  border-radius: 3px;
  color: rgba(51, 51, 51, 0.75);
  display: inline-block;
  padding: 4px 8px;
  line-height: 1;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  display: inline-block;
}

.projectName {
  margin-left: 1em;
}

.projectPageHeader {
  margin-bottom: 2em;
}

.projectPageContainer {
  margin-top: 3em;
}

.projectPageContainer .nav-link {
  color: #999;
}

.projectPageContainer .nav-link.Active {
  color: #000;
  border: 1px solid transparent;
  font-weight: bold;
  border-bottom: 1.5px solid blue;
}

.projectDetails {
  margin-top: 2em;
}

.projectDetails h5 {
  text-align: left;
  font-weight: 400;
}

.projectDetails form {
  margin: 2em 0;
}

.projectDetails form .btn {
  padding: 0.75em 2em;
}
