.Dashboard {
  margin-top: 5em;
}

.projectListing {
  box-shadow: 0 0 0 2px #f1f1f1;
  border-radius: 3px;
}

.projectListing thead:first-child {
  background: #fafafa;
  border: 2px solid #f1f1f1;
}

.projectName {
  cursor: pointer;
}
